services:
  postgres:
    image: postgres:16
    container_name: quoteshack-postgres
    ports:
      # Map port 5433 to avoid conflict with local PostGreSQL
      - "5433:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

  prisma:
    image: node:18
    command: bash -c "npx prisma generate && npx prisma db push"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5433/postgres
    depends_on:
      - postgres
